# =======================
# Arquivos Ignorados pelo Git
# =======================

## Arquivos e Diretórios Específicos do Usuário / Dados 
.env
.env/

## Arquivos de Processamento e Dados
*.xlsx
*.csv
processos teste/

## Cache e arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

## Ambientes virtuais
venv/
.venv/
env/
.env_venv/

## Arquivos de IDE ou Ferramentas
.vscode/
.idea/
*.swp
.DS_Store

## PyInstaller e Compiladores
build/
dist/
*.spec